  .calc {
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 20px;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
  }

  .res {
    padding: 20px;
    font-size: 15px;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
    width: 200px;
  }